.filepond--credits {
  display: none;
}
@media (min-width: 30em) {
  .filepond--item {
    width: calc(50% - 0.5em);
  }
}

@media (min-width: 50em) {
  .filepond--item {
    width: calc(20% - 0.5em);
  }
}
/* bordered drop area */
.filepond--panel-root {
  background-color: transparent;
}
